@model EventManagement.Entity.UserDetails

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/Index.cshtml";
}

    <h2 style="text-align:center">SignUp</h2>

@using (Html.BeginForm("SignUp", "User", FormMethod.Post))
{
<table cellpadding="10" align="center">
    <tr>
        <td>
            @Html.Label("First Name")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.FirstName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Last Name")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.LastName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Mobile Number")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.MobileNumber)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Mail ID")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.MailId)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Password")
        </td>
        <td>
            @Html.PasswordFor(Model => Model.Password)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Confirm password")
        </td>
        <td>
            @Html.PasswordFor(Model => Model.ConfirmPassword)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Gender")
        </td>
        <td>
            @Html.RadioButtonFor(Model => Model.Gender, "male")Male
            @Html.RadioButtonFor(Model => Model.Gender, "female")Female
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Role")
        </td>
        <td>
            @Html.EnumDropDownListFor(Model => Model.UserRole, "Select a role")
        </td>
    </tr>
    <tr colspan="2">
        <td>
            <input type="Submit" />
        </td>
    </tr>
</table>
}